body {
  background-color: #16191f;
  font-family: Arial, Helvetica;
  color: white;
  padding: 3%;
}

.main {
  background-color: #0d1117;
  text-align: center;
}

img {
  width: 250px;
  margin: 2%;
}