html {
  height: 1lvh;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #16191f;
  font-family: 'Montserrat', sans-serif;
  color: #ededed;
  padding: 10px;
}

header {
  width: 100%;
  min-height: 3em;
  background-color: #16191f;
  box-sizing: border-box;
  padding: 1em;
  transition: 0.5s;
  .top-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
    align-items: baseline;
    #about {
      color: #37ff8b;
    }
  }
}

/* main {padding: 6em 0;} */

/** Footer **/
footer {
  margin-top: auto;
  background-color: #0c0c0c;
  padding: 2rem;
  text-align: center;
}

footer a {
  color: #ededed;
}

.visually-hidden {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.btn-group {
  display: block;
  /* justify-content: center; */
  text-align: center;
  justify-content: space-evenly;
}
.btn {
  border: 0.2rem solid #4d4d4d;
  cursor: pointer;
  padding: 0.8rem 1rem 0.7rem;
  border-radius: 20px;
  margin: 10px 10px;
  text-transform: capitalize;
}
.btn.toggle-btn {
  border-color: #4d4d4d;
  border-width: 2px;
  transition: 0.5s ease-in-out;
}
.btn.toggle-btn[aria-pressed="true"] {
  border-color: #fff;
  box-shadow: 0 0 30px #ededed;
}
.btn__filter {
  border-color: lightgrey;
}
button {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}

/* Gallery */
.gallery {
  width: 80%;
  background: #0c0c0c;
  margin: 20px auto;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 0 30px #ededed;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  gap: 50px;
  justify-content: center;
  align-content: center;
  .image {
    #loader {
      margin: -60px auto auto auto;
      transform: translateY(140px) translateX(-5px);
    }
    img {
      border-radius: 30px;
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
}

.detailed {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px #ededed solid;
    border-radius: 30px;
    width: 80%;
    img {
      border-radius: 0 0 30px 30px;
      width: 100%;
    }
    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 20px 40px;
      border-radius: 30px 30px 0 0;
    }
  }
}

/** Sky title **/
.button {
  margin: 0;
  margin-left: 10%;
  margin-bottom: 20px;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37ff8b;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
}
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
